In [ ]:
#Data Importing & Reading
from pandas import read_csv,get_dummies,DataFrame,Series
data = read_csv ('Emloyees (2).csv')
data.head()
data.tail()
data.shape
data.describe

<bound method NDFrame.describe of       Age PastEmployee     BusinessTravel       Department  \
0      46           No      Travel_Rarely  Human Resources
1      37          Yes      Travel_Rarely  Human Resources
2      59           No         Non-Travel  Human Resources
3      54           No         Non-Travel  Human Resources
4      26           No      Travel_Rarely  Human Resources
...   ...          ...                ...              ...
1465   45           No      Travel_Rarely            Sales
1466   50          Yes      Travel_Rarely            Sales
1467   39           No      Travel_Rarely            Sales
1468   26           No      Travel_Rarely            Sales
1469   49           No  Travel_Frequently            Sales

      Distance From Home   EducationField  Environment Satisfaction  Gender  \
0                      5          Medical                         2    Male
1                      6  Human Resources                         3    Male
2                      2  Human Resources                         3  Female
3                     26  Human Resources                         4  Female
4                     25    Life Sciences                         3  Female
...                  ...              ...                       ...     ...
1465                  20    Life Sciences                         4  Female
1466                  28        Marketing                         4    Male
1467                  24        Marketing                         2  Female
1468                   5            Other                         4  Female
1469                   2          Medical                         4    Male

                   JobRole MaritalStatus  MonthlyIncome  NumCompaniesWorked  \
0          Human Resources      Divorced           5021                   8
1          Human Resources      Divorced           2073                   4
2                  Manager       Married          18844                   9
3                  Manager        Single          17328                   2
4          Human Resources       Married           2942                   1
...                    ...           ...            ...                 ...
1465       Sales Executive        Single           4850                   8
1466       Sales Executive      Divorced          10854                   4
1467       Sales Executive       Married          12031                   0
1468  Sales Representative        Single           2966                   0
1469       Sales Executive       Married           5390                   2

     OverTime
0         Yes
1         Yes
2          No
3         Yes
4          No
...       ...
1465       No
1466      Yes
1467       No
1468       No
1469       No

[1470 rows x 13 columns]>

In [ ]:
#Data Encoding
data['PastEmployee'] = data['PastEmployee'].map({'Yes':1,'No':0})
data['Gender'] = data['Gender'].map({'Male':1,'Female':0})
data['OverTime'] =data['OverTime'].map({'Yes':1,'No':0})
data.info

<bound method DataFrame.info of       Age  PastEmployee     BusinessTravel       Department  \
0      46             0      Travel_Rarely  Human Resources
1      37             1      Travel_Rarely  Human Resources
2      59             0         Non-Travel  Human Resources
3      54             0         Non-Travel  Human Resources
4      26             0      Travel_Rarely  Human Resources
...   ...           ...                ...              ...
1465   45             0      Travel_Rarely            Sales
1466   50             1      Travel_Rarely            Sales
1467   39             0      Travel_Rarely            Sales
1468   26             0      Travel_Rarely            Sales
1469   49             0  Travel_Frequently            Sales

      Distance From Home   EducationField  Environment Satisfaction  Gender  \
0                      5          Medical                         2       1
1                      6  Human Resources                         3       1
2                      2  Human Resources                         3       0
3                     26  Human Resources                         4       0
4                     25    Life Sciences                         3       0
...                  ...              ...                       ...     ...
1465                  20    Life Sciences                         4       0
1466                  28        Marketing                         4       1
1467                  24        Marketing                         2       0
1468                   5            Other                         4       0
1469                   2          Medical                         4       1

                   JobRole MaritalStatus  MonthlyIncome  NumCompaniesWorked  \
0          Human Resources      Divorced           5021                   8
1          Human Resources      Divorced           2073                   4
2                  Manager       Married          18844                   9
3                  Manager        Single          17328                   2
4          Human Resources       Married           2942                   1
...                    ...           ...            ...                 ...
1465       Sales Executive        Single           4850                   8
1466       Sales Executive      Divorced          10854                   4
1467       Sales Executive       Married          12031                   0
1468  Sales Representative        Single           2966                   0
1469       Sales Executive       Married           5390                   2

      OverTime
0            1
1            1
2            0
3            1
4            0
...        ...
1465         0
1466         1
1467         0
1468         0
1469         0

[1470 rows x 13 columns]>

In [ ]:
#Categorical Features = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']
data2 = get_dummies (data,columns = ['BusinessTravel','Department','EducationField','JobRole','MaritalStatus'])
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   PastEmployee                       1470 non-null   int64
 2   Distance From Home                 1470 non-null   int64
 3   Environment Satisfaction           1470 non-null   int64
 4   Gender                             1470 non-null   int64
 5   MonthlyIncome                      1470 non-null   int64
 6   NumCompaniesWorked                 1470 non-null   int64
 7   OverTime                           1470 non-null   int64
 8   BusinessTravel_Non-Travel          1470 non-null   uint8
 9   BusinessTravel_Travel_Frequently   1470 non-null   uint8
 10  BusinessTravel_Travel_Rarely       1470 non-null   uint8
 11  Department_Human Resources         1470 non-null   uint8
 12  Department_Research & Development  1470 non-null   uint8
 13  Department_Sales                   1470 non-null   uint8
 14  EducationField_Human Resources     1470 non-null   uint8
 15  EducationField_Life Sciences       1470 non-null   uint8
 16  EducationField_Marketing           1470 non-null   uint8
 17  EducationField_Medical             1470 non-null   uint8
 18  EducationField_Other               1470 non-null   uint8
 19  EducationField_Technical Degree    1470 non-null   uint8
 20  JobRole_Healthcare Representative  1470 non-null   uint8
 21  JobRole_Human Resources            1470 non-null   uint8
 22  JobRole_Laboratory Technician      1470 non-null   uint8
 23  JobRole_Manager                    1470 non-null   uint8
 24  JobRole_Manufacturing Director     1470 non-null   uint8
 25  JobRole_Research Director          1470 non-null   uint8
 26  JobRole_Research Scientist         1470 non-null   uint8
 27  JobRole_Sales Executive            1470 non-null   uint8
 28  JobRole_Sales Representative       1470 non-null   uint8
 29  MaritalStatus_Divorced             1470 non-null   uint8
 30  MaritalStatus_Married              1470 non-null   uint8
 31  MaritalStatus_Single               1470 non-null   uint8
dtypes: int64(8), uint8(24)
memory usage: 126.5 KB

In [ ]:
#Dividing the Data
x = data2.drop('PastEmployee', axis = 1)
y = data2['PastEmployee']
print(x.shape)
print(y.shape)
x
y

(1470, 31)
(1470,)

0       0
1       1
2       0
3       0
4       0
       ..
1465    0
1466    1
1467    0
1468    0
1469    0
Name: PastEmployee, Length: 1470, dtype: int64

In [ ]:
#Data Scaling
from sklearn.preprocessing import StandardScaler
x_scaled = StandardScaler().fit_transform(x)
print(DataFrame(x_scaled))

            0         1         2         3         4         5         6   \
0     0.993860 -0.517332 -0.660531  0.816497 -0.314879  2.125136  1.591746
1     0.008343 -0.393938  0.254625  0.816497 -0.941266  0.523316  1.591746
2     2.417384 -0.887515  0.254625 -1.224745  2.622214  2.525591 -0.628241
3     1.869874  2.073946  1.169781 -1.224745  2.300096 -0.277594  1.591746
4    -1.196177  1.950552  0.254625 -1.224745 -0.756622 -0.678049 -0.628241
...        ...       ...       ...       ...       ...       ...       ...
1465  0.884358  1.333581  1.169781 -1.224745 -0.351213  2.125136 -0.628241
1466  1.431867  2.320735  1.169781  0.816497  0.924509  0.523316  1.591746
1467  0.227347  1.827158 -0.660531 -1.224745  1.174597 -1.078504 -0.628241
1468 -1.196177 -0.517332  1.169781 -1.224745 -0.751522 -1.078504 -0.628241
1469  1.322365 -0.887515  1.169781  0.816497 -0.236474 -0.277594 -0.628241

            7         8         9   ...        21        22        23  \
0    -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1    -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
2     2.966479 -0.481859 -1.562889  ... -0.462464  3.662208 -0.330808
3     2.966479 -0.481859 -1.562889  ... -0.462464  3.662208 -0.330808
4    -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
...        ...       ...       ...  ...       ...       ...       ...
1465 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1466 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1467 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1468 -0.337100 -0.481859  0.639841  ... -0.462464 -0.273059 -0.330808
1469 -0.337100  2.075297 -1.562889  ... -0.462464 -0.273059 -0.330808

            24        25        26        27        28        29        30
0    -0.239904 -0.497873 -0.533821 -0.244625  1.869602 -0.918921 -0.685565
1    -0.239904 -0.497873 -0.533821 -0.244625  1.869602 -0.918921 -0.685565
2    -0.239904 -0.497873 -0.533821 -0.244625 -0.534873  1.088232 -0.685565
3    -0.239904 -0.497873 -0.533821 -0.244625 -0.534873 -0.918921  1.458650
4    -0.239904 -0.497873 -0.533821 -0.244625 -0.534873  1.088232 -0.685565
...        ...       ...       ...       ...       ...       ...       ...
1465 -0.239904 -0.497873  1.873287 -0.244625 -0.534873 -0.918921  1.458650
1466 -0.239904 -0.497873  1.873287 -0.244625  1.869602 -0.918921 -0.685565
1467 -0.239904 -0.497873  1.873287 -0.244625 -0.534873  1.088232 -0.685565
1468 -0.239904 -0.497873 -0.533821  4.087890 -0.534873 -0.918921  1.458650
1469 -0.239904 -0.497873  1.873287 -0.244625 -0.534873  1.088232 -0.685565

[1470 rows x 31 columns]

In [ ]:
#Data Splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x_scaled, y, test_size = 0.20, random_state = 100)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1176, 31)
(294, 31)
(1176,)
(294,)

In [ ]:
#Balacing the Dataset
from imblearn.over_sampling import SMOTE
print("Number of observations in each class before oversampling(training data): \n", Series(y_train).value_counts())
x_train,y_train = SMOTE(random_state = 101).fit_resample(x_train,y_train)
print("Number of observations in each class before oversampling(training data): \n", Series(y_train).value_counts())

Number of observations in each class before oversampling(training data):
 0    987
1    189
Name: PastEmployee, dtype: int64
Number of observations in each class before oversampling(training data):
 0    987
1    987
Name: PastEmployee, dtype: int64

In [ ]:
DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0.117845,0.840004,-0.660531,-1.224745,-0.489749,-0.277594,-0.628241,-0.3371,-0.481859,0.639841,...,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,1.873287,-0.244625,-0.534873,-0.918921,1.458650
1,-0.977174,-0.393938,0.254625,0.816497,-0.807404,-0.678049,1.591746,-0.3371,2.075297,-1.562889,...,-0.462464,-0.273059,-0.330808,-0.239904,2.008543,-0.533821,-0.244625,1.869602,-0.918921,-0.685565
2,1.869874,0.963398,0.254625,-1.224745,0.900074,2.125136,-0.628241,-0.3371,-0.481859,0.639841,...,-0.462464,-0.273059,3.022901,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565
3,0.336849,-1.010909,-1.575686,0.816497,2.192794,-0.277594,-0.628241,-0.3371,-0.481859,0.639841,...,-0.462464,3.662208,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,1.869602,-0.918921,-0.685565
4,1.650871,-0.640727,1.169781,-1.224745,2.135850,-0.277594,-0.628241,-0.3371,-0.481859,0.639841,...,-0.462464,3.662208,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,-0.163817,1.402170,0.426684,0.816497,-0.667868,-1.003214,-0.210859,-0.3371,-0.481859,0.639841,...,-0.462464,-0.273059,-0.330808,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,-0.918921,1.458650
1970,0.772183,0.288496,-0.054151,0.472137,0.482154,-0.745607,-0.253727,-0.3371,-0.481859,0.639841,...,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,1.873287,-0.244625,-0.534873,-0.918921,1.458650
1971,-0.826597,-0.705485,-1.575686,0.816497,-0.782689,-0.017246,-0.628241,-0.3371,1.372024,-0.957091,...,2.162331,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,1.869602,-0.918921,-0.685565
1972,1.587408,-0.672972,-1.222094,-1.224745,2.334488,-0.678049,-0.628241,-0.3371,-0.481859,0.639841,...,-0.462464,2.901966,-0.330808,-0.239904,-0.497873,-0.068800,-0.244625,-0.534873,1.088232,-0.685565
1973,0.053093,-0.003892,-1.575686,-0.807646,-0.045785,1.087425,-0.628241,-0.3371,0.040660,0.189744,...,-0.462464,-0.273059,-0.330808,-0.239904,-0.497873,-0.533821,-0.244625,-0.043553,0.678099,-0.685565